:root {
    --darkblue: #05386B;
    --mintgreen: #5CDB95;
    --lightgreen: #8EE4AF;
    --tan: #EDF5E1;
}

body {
	background-color: #5CDB95 !important;
	color: var(--darkblue)  !important;
	font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif !important;
	text-shadow: 1px 2px 4px rgba(0,0,0,0.5);	
}

img {
    max-width: 100%;
}

a {
	color: var(--darkblue) !important;
	text-decoration: none !important;
}

* {
  transition: all 0.3s ease-out;
}

img {
    max-width: 100%;
}

/* Navigation Button */
.scroll_top {
	position: fixed;
	bottom: 0px;
	right: 20px;
	border-radius: 50% !important;
}
/* End Navigation Button */



/* Navigation Bar */
.nav-list {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 99;
	background-color: var(--darkblue);
}

.nav-list .unord-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    width: 100%;
}

.nav-list .unord-list .list-item {
	display: inline-block;
    text-align:center;
    width: 150px;
}

.nav-list .unord-list .list-item .nav-link {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: var(--tan) !important;
}

.nav-list .unord-list .list-item .nav-link:hover {
	background-color: var(--lightgreen);
	color: var(--tan);
}

@media (max-width: 414px) {

	.nav-list .unord-list .list-item {
		width: 100%;
	}
}

@media (min-width: 414px) and (max-width: 1024px) {

	.nav-list .unord-list .list-item {
		width: 100%;
	}
}

/* End Navigation Bar */

/* Welcome/Home Section */
.home {
	position: relative;
}

.home:before {
	  content: "";
      background-image: url('../img/trees.jpg');
      background-size:cover;
	  background-position: right top;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
	  z-index: -1;
	  margin-top: -100px;
	  border-bottom: 10px solid var(--darkblue);
}

.self-image {
	border-radius: 50%;
	display: block;
  	margin-top: 2em;
	margin-left: auto; 
    margin-right: 5em;
	border: 5px solid var(--darkblue);
}

.self-image:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.container-intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	margin-bottom: 35px;
    background-color: var(--darkblue) !important;
	border-color: var(--darkblue) !important;
	color: var(--tan) !important; 
}

.btn-primary:focus, .btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:hover {
	background-color: var(--lightgreen) !important;
	border-color: var(--lightgreen) !important;
	color: var(--tan) !important;
}

@media (max-width: 414px) {

	.main {
		margin-top: 200px;
	}
	.container-intro {
		flex-direction: column;
		text-align: center;
		margin-bottom: 50px;
	}
	.container-intro .self-image{
		max-width: 200px;
		max-height: 200px;
		margin: auto;
	}
	.container-intro .intro1 {
		font-size: 20px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 30px;
	}

	.container-intro .intro1 .intro2 .btn-primary {
		display: none;
	}

	.home:before {
		margin-bottom: -100px;

	}
}

@media (min-width: 414px) and (max-width: 1024px) {

	.main {
		margin-top: 200px;
	}
	.container-intro {
		flex-direction: column;
		margin-bottom: 50px;
		text-align: center;
	}
	.container-intro .self-image{
		max-width: 300px;
		max-height: 300px;
		margin: auto;
	}
	.container-intro .intro1 {
		font-size: 25px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 50px;
	}

	.container-intro .intro1 .intro2 .btn-primary {
		display: none;
	}

	.home:before {
		margin-bottom: -100px;

	}

}

@media(min-width: 1025px) {

	.main {
		margin-top: 100px;
	}
	.container-intro {
		margin-bottom: 100px;
	}
	.container-intro .intro1 {
		font-size: 40px;
		margin-left: 100px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 80px;
	}

	.home:before {
		margin-bottom: -150px;

	}
}

/* End Welcome/Home Section */

/* About Section */
.about {
	width: 60vw;
	margin: auto;
	margin-top: 200px;
	text-align: center;
	font-size: x-large;
	margin-bottom: 50px;
	scroll-margin-top: 175px;
}

.about-info {
	background-color: var(--darkblue);
	color: var(--tan);
	border-radius: 20px;
	padding: 40px;
}

/* End About Section */

/* Experience Section */
.experience {
	scroll-margin-top: 175px;
	width: 60vw;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
	font-size: x-large;
	
}

.experience-info {
	border: 5px solid var(--darkblue);
    border-radius: 20px;
	width: 100%;
	background-color: var(--tan);
	color: var(--darkblue);
	border-radius: 20px;
	padding: 40px;
}

.psu-logo {
	mix-blend-mode: multiply;
}

/* End Experience Section */
 
/* Projects Section */
.projects {
	scroll-margin-top: 175px;
	width: 60vw;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

.project-card {
	background-color: var(--tan);
	margin: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 5px solid var(--darkblue);
	z-index: 99;
	overflow: hidden;
}

.project-card:hover {
	transform: translateY(-5px) scale(1.1) translateZ(0);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.project-image-container {
	width: 100%;
	overflow: hidden;
	margin: auto;
}

.project-title {
	text-decoration: underline;
}

.sample_form {
	display: block;
	mix-blend-mode: multiply;
	margin: auto;
	width: 100%;
}

.sample_program {
	display: block;
	margin: auto;
	width: 100%;
}

/* End Projects Section */

/* Contact Section */
.contact {
	scroll-margin-top: 175px;
	width: 60vw;
	margin: auto;
}

.contact-me {
	text-align: center;
}

.contact-form {
    display: grid;
	width: 100%;
	font-size: large;
	background-color: var(--darkblue);
	color: var(--tan);
	border-radius: 20px;
	padding: 50px;

}

.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
	margin-bottom: 35px;
    background-color: var(--tan) !important;
	border-color: var(--tan) !important;
	color: var(--darkblue) !important;
}

.btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary:hover {
	background-color: var(--lightgreen) !important;
	border-color: var(--lightgreen) !important;
	color: var(--tan) !important;
}

/* End Contact Section */

/* Footer */
.copyright {
	text-align: center;
}

/* End Footer */