body {
	margin: 0;
}

.nav-list {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 99;
	background-color: green;
}

.nav-list .unord-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    width: 100%;
}

.nav-list .unord-list .list-item {
	display: inline-block;
    text-align:center;
    width: 150px;
}

.nav-list .unord-list .list-item .nav-link {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: white;
}

.nav-list .unord-list .list-item .nav-link:hover {
	background-color: orange;
	color: black;
}

@media (max-width: 414px) {

	.nav-list .unord-list .list-item {
		width: 100%;
	}

	.main {
		margin-top: 200px;
	}
	.container-intro {
		flex-direction: column;
		text-align: center;
		margin-bottom: 50px;
	}
	.container-intro .image{
		margin: auto;
	}
	.container-intro .intro1 {
		font-size: 20px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 40px;
	}

	.container-intro .intro1 .intro2 .btn-primary {
		display: none;
	}
}

@media (min-width: 414px) and (max-width: 1024px) {

	.nav-list .unord-list .list-item {
		width: 100%;
	}
	.main {
		margin-top: 200px;
	}
	.container-intro {
		flex-direction: column;
		margin-bottom: 50px;
		text-align: center;
	}
	.container-intro .image{
		margin: auto;
	}
	.container-intro .intro1 {
		font-size: 30px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 60px;
	}

	.container-intro .intro1 .intro2 .btn-primary {
		display: none;
	}
}

@media(min-width: 1024px) {

	.main {
		margin-top: 100px;
	}
	.container-intro {
		margin-bottom: 100px;
	}
	.container-intro .intro1 {
		font-size: 40px;
		margin-left: 100px;
	}
	.container-intro .intro1 .intro2 {
		font-size: 80px;
	}
}

.image {
	border-radius: 50%;
	display: block;
  	margin-top: 2em;
	margin-left: auto; 
    margin-right: 5em;
	border: 10px solid green;
}

img {
    max-width: 100%;
}

.container-intro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	margin-bottom: 35px;
    background-color: green !important;
	border-color: green !important;
}

.btn-primary:hover {
	background-color: orange !important;
	border-color: orange !important;
	color: black !important;
}

.about {
	width: 60vw;
	margin: auto;
	text-align: center;
	font-size: x-large;
	scroll-margin-top: 75px;
}

.experience {
	scroll-margin-top: 75px;
}

.projects {
	scroll-margin-top: 75px;
}

.contact {
	scroll-margin-top: 75px;
}