.form {
    border: 1px solid black;
	border-radius: 10px;
    width: 400px;
    padding-bottom: 3em;
    margin:auto;
}

.reg-form { 
    text-align: center;
}

.btn1 input {
    
    font-size:16px;
    float: right;
    clear: right;
    padding: 10px;
    width: 48%;
    border: 1px solid green;
    border-radius: 4px;
    background-color: white;
    color: green;
}

.btn2 input {

    font-size:16px;
    float: left;
    clear: left;
    padding: 10px;
    width: 48%;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
    color: white;
}

.btn2 input:hover {
    background-color: orange;
    color: black;
    border: 1px solid black;
}

div {
    padding: 1em;
}

.user-input input {
      float: right;
      width: 250px;
}